@charset "UTF-8";

:root {
	--colorPrimary: #2ab53c;
	--colorSecundary: #12751f;
	--corTerciaria: #6b6e6a;
	--corEscura: #1c1c1c;
	--corBackgroundLight: #fefefe;
}

@font-face {

	src: url(../fonts/Roboto-Regular.ttf);
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url(../fonts/materiais-icons-outlined.woff2) format('woff2');
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: 16px Roboto, sans-serif;
}

.material-icons {
	font-family: 'Material Icons' !important;
}

a, a:focus, a:hover {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: 'Roboto';
	background-color: #fefefe;
	color: var(--corEscura);
}